.column-container {
    display: block;
    width: 400px;
    justify-content: center;
    text-align: justify;
    background-color: var(--tert);
    color: rgb(244, 255, 255);
}

.column-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.column-container h3 {
    display: flex;
    font-size: 20px;
    font-weight: 400;
}

.column-item-container {
    height: 90px;
    padding: 8px;
    border-radius: 10px;
}

.column-image-container {
    display: flex;
    margin: 0;
    padding: 30px;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: var(--tert);
    color: rgb(244, 255, 255);
}

.column-card-image {
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 10px;
}