.measure-details-container {
    align-items: center;
    justify-items: center;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--prim);
}

.measure-details-box {
    color: var(--seco);
    padding: 8px;
    font-size: 16px;
}