.menu-profile-container {
    height: 280px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-option-card {
    height: 80px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.3s ease-in;
}

.menu-option-card:hover {
    border: solid var(--blue-prim);
}

.option-card-img {
    padding: 10px;
    width: 94%;
}

@media screen and (max-width: 550px) {
    .menu-profile-container {
        margin: 0;
    }
    .menu-option-card {
        height: 60px;
        width: 80px;
    }
}