/*Product styled*/

.product-card-container {
    height: 190px;
    background-color: var(--quin);
    border-radius: 30px;
    border: 3px solid #ccc;
    padding: 20px;
    text-decoration: underline;
    text-decoration-color: var(--quin);
    color: var(--prim);
    align-items: flex-start;
    justify-content: start;
    display: flex;
}

.product-card-container:hover {
    border: 3px solid var(--sena);
    transition: all 0.7s ease-out;
}

.product-card-container h3 {
    font-size: 18px;
    font-weight: 600;
}

.product-card-container h2 {
    font-size: 20px;
    font-weight: 300;
}

.product-card-image {
    width: 150px;
    border-radius: 20px;
}

.product-info-box {
    width: 100%;
    height: 100%;
    background-color: var(--quin);
    align-items: center;
    text-decoration-color: transparent;
    padding: 10px;
    display: grid;
    overflow-x: scroll;
    border-left: 2px solid var(--prim);
    margin-left: 2px;
}

.product-info-box::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.product-info-item {
    height: 40px;
    background-color: var(--quin);
}

.product-history-card {
    max-height: 340px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    background-color: var(--quin);
    border: 3px solid #ccc;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.product-history-box {
    display: flex;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.product-history-box h2 {
    font-size: 24px;
    font-weight: 700;
}

.product-history-box h3 {
    font-size: 20px;
}

@media screen and (max-width: 650px) {
    .product-card-image {
        width: 100px;
    }
    .product-card-container h3 {
        font-size: 14px;
    }
    .product-card-container h2 {
        font-size: 16px;
    }
    .product-card-container {
        height: 160px;
    }
}


/*Category styled*/

.category-display-card {
    height: 190px;
    background-color: var(--quin);
    border-radius: 30px;
    border: 3px solid #ccc;
    padding: 20px;
    text-decoration: underline;
    text-decoration-color: var(--quin);
    color: var(--prim);
    align-items: flex-start;
    justify-content: start;
    display: flex;
    transition: all 0.2ms ease-out;
}

.category-display-card:hover {
    border: 3px solid var(--sena);
}

.category-display-card h3 {
    padding: 6px;
    font-size: 22px;
    font-weight: 400;
}

.category-display-card h2 {
    padding: 6px;
    font-size: 24px;
    font-weight: 300;
}

.category-card-image {
    width: 150px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.category-card-container {
    height: 160px;
    align-items: center;
    border-radius: 30px;
    text-decoration-color: transparent;
    padding: 8px;
    display: grid;
}

.category-details-container {
    height: 70px;
    background-color: var(--quin);
}

@media screen and (max-width: 450px) {
    .category-display-card {
        height: 350px;
        display: grid;
    }
}


/*Measure card styles*/

.measure-details-container {
    align-items: center;
    justify-items: center;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--prim);
}

.measure-details-box {
    color: var(--seco);
    padding: 8px;
    font-size: 16px;
}