.form-container {
    max-width: 580px;
    margin: 40px auto;
    padding: 20px;
}

.form {
    width: calc(100% - 20px);
}

.gerencg-form-group {
    margin-bottom: 20px;
    max-width: 300px;
}

.gerencg-form-group label {
    font-size: 18px;
    color: var(--quin);
}

.form-links {
    color: var(--blue-seco);
    font-size: large;
    text-decoration: underline;
    transition: all 0.3s ease-out;
}

.form-links:hover {
    color: var(--quin);
}

.form-card-container {
    background-color: var(--dark-tert);
    border: 1px solid var(--dark-prim);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.form-card-container h3 {
    color: var(--quin);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    min-height: 40px;
}

.form-btn-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.gerencg-btn {
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    border: 2.5px solid transparent;
    color: var(--quin);
    cursor: pointer;
    background-color: var(--sena);
}

.gerencg-btn:hover {
    padding: 8px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    border: 2.5px solid var(--quat);
}

.msg-container {
    text-align: center;
    padding: 0px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.692);
    background-color: var(--dark-seco);
    left: 20%;
}

.msg-container:active {
    left: 0;
}