.form-container {
    padding: 20px;
}

.form {
    width: calc(100% - 20px);
    background-color: transparent;
    color: var(--white-seco);
}

.gerencg-form-group option {
    background-color: var(--dark-tert);
}

.gerencg-form-group {
    margin-bottom: 20px;
    width: 300px;
    color: var(--white-seco);
}

.form-control {
    background-color: var(--dark-tert);
    color: var(--white-seco);
}

.form-control:focus {
    background-color: var(--dark-tert);
    color: var(--white-seco);
}

.form-links {
    color: var(--blue-seco);
    font-size: large;
    text-decoration: underline;
    transition: all 0.3s ease-out;
}

.form-links:hover {
    color: var(--white-seco);
}

.form-card-container {
    background-color: var(--dark-tert);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
}

.form-card-container h3 {
    color: var(--white-seco);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    min-height: 40px;
}

.form-btn-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.gerencg-btn {
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    border: 2.5px solid transparent;
    color: var(--white-seco);
    cursor: pointer;
    background-color: var(--blue-quat);
}

.gerencg-btn:hover {
    padding: 8px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    border: 2.5px solid var(--white-prim);
}

.msg-container {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.692);
    left: 20%;
}

.msg-container:active {
    left: 0;
}