.border-table {
    border: 1px solid;
    border-left: 5px solid var(--blue-prim);
}

.table-box {
    height: 100%;
    color: var(--dark-seco);
    font-size: 18px;
    font-weight: 600;
    border: 1px solid var(--dark-seco);
    text-align: center;
}

.table-box h5 {
    color: #fff;
    font-size: large;
    text-align: center;
}

.table-box-title {
    font-size: 16px;
    font-weight: 900;
    display: grid;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in;
    color: var(--dark-seco);
    text-decoration: none;
}

.table-box-title h5 {
    font-weight: 700;
}

.table-box-title:hover {
    background: var(--dark-quat);
    color: #fff;
}

.table-links {
    color: var(--blue-prim);
    font-size: large;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.table-links:hover {
    color: var(--blue-seco);
}