.pagination-max-container {
    display: grid;
    background-color: var(--white-seco);
    width: 400px;
}

.pagination-container-menu {
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 30px;
    height: 90px;
    background-color: var(--white-prim);
}

.pagination-box {
    width: 400px;
    max-height: 200px;
}

.header-container {
    padding: 8px 0px 16px 0px;
    height: 70px;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--white-prim);
    color: var(--dark-prim);
}

.header-container h2 {
    text-align: start;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    font-size: 24px;
    margin: 0;
}

.search-container {
    padding: 1px 6px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var(--dark-prim);
}

.search-container input {
    background-color: var(--white-seco);
    color: var(--dark-prim);
}

.search-container input:focus {
    background-color: var(--white-seco);
    color: var(--dark-prim);
}

.search-container h5 {
    text-align: center;
    padding: 4px;
    width: 100%;
    margin: 4px;
    font-size: large;
    border-radius: 8px;
    font-weight: 800;
}

.form-group {
    min-width: 110px;
    background-color: transparent;
}

.search-form-group {
    border-radius: 8px;
    width: 300px;
    align-items: center;
    color: var(--dark-prim);
    background-color: var(--white-seco);
}

.search-form-group label {
    font-size: 18px;
    color: var(--dark-prim);
}

.option-item {
    padding: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.option-item h5 {
    font-size: 19px;
}

@media screen and (max-width: 680px) {
    .pagination-max-container {
        width: 100%;
    }
    .header-container {
        height: max-content;
    }
    .header-container h2 {
        text-align: start;
        display: flex;
        height: 40px;
    }
    .option-item h5 {
        font-size: 22px;
    }
}