.footer-color {
    background: linear-gradient(117deg, rgb(15, 22, 26) 20%, rgb(20, 34, 41) 55%, rgb(11, 26, 34) 95%);
    color: #fff;
}

.footer-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin: 10px;
}