.footer-container {
    display: flexbox;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: var(--dark-seco);
    color: #fff;
    overflow-y: visible;
    margin: 0;
    font-size: 20px;
}

.footer-container hr {
    margin: 20px 0px;
}

.footer-title {
    color: var(--quat);
    padding: 12px;
    display: flex;
    margin: 4px 0px;
}

.footer-box {
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: large;
    height: 40px;
    display: flex;
}

.footer-box a {
    color: var(--blue-seco);
    font-size: large;
    text-decoration: underline;
    transition: all 0.2s ease-out;
}

.footer-box a:hover {
    color: var(--quin);
    border-left: solid var(--blue-prim);
}

.footer-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin: 10px;
    color: var(--blue-prim);
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 550px) {
    .footer-container {
        width: 100%;
    }
    .footer-logo {
        width: 34px;
        height: 34px;
    }
}