.gerencg-card-container {
    padding: 50px 50px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 10px 10px;
}

.gerencg-card-container:hover {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 10px 10px;
    border: 3px solid rgb(69, 33, 160);
}

.gerencg-card-container h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    min-height: 40px;
}

.gerencg-card-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
}