.container-blur {
    color: var(--seco);
    max-inline-size: 100%;
    margin: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.452), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}