.pagination-container-menu {
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 30px;
    height: 90px;
}

.option-item {
    width: 250px;
    padding: 20px;
    border: 1px;
}

.gerencg-btn {
    text-align: center;
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    background-color: var(--tert);
}

.gerencg-btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: var(--tert);
    border-radius: 5px;
    border: 2.5px solid var(--seco);
}