.profile {
    padding: 0;
    margin: 0;
    max-inline-size: 100%;
    color: var(--dark-prim);
    background-color: var(--quat);
}

.profile hr {
    width: 380px;
    background: var(--dark-prim);
}

.info-container {
    overflow-y: scroll;
    height: 600px;
}

.horizontal-list {
    max-height: 400px;
    width: 100%;
    display: flex;
    padding: 10px;
    overflow-x: scroll;
}

.horizontal-list::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.list-item {
    min-width: 340px;
    text-align: center;
}

.container-blur {
    color: var(--dark-seco);
    max-inline-size: 100%;
    margin: 0;
    background: linear-gradient(135deg, rgba(102, 96, 96, 0.452), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@media screen and (max-width: 450px) {
    .profile {
        display: flex;
        width: 580px;
    }
}