.profile {
    padding: 0;
    margin: 0;
    max-inline-size: 100%;
    color: var(--dark-prim);
    background-color: var(--white-prim);
    width: 100%;
}

.profile hr {
    width: 380px;
    background: var(--dark-prim);
}

.info-container {
    overflow-y: scroll;
    height: 600px;
}

.horizontal-list {
    max-height: 400px;
    width: 100%;
    display: flex;
    padding: 10px;
    overflow-x: scroll;
}

.horizontal-list::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.list-item {
    min-width: 340px;
    text-align: center;
}

.menu-option {
    padding: 30px 10px;
}

.menu-option h2 {
    font-size: x-large;
}

.container-blur {
    color: var(--dark-seco);
    max-inline-size: 100%;
    margin: 0;
    background: linear-gradient(135deg, rgba(37, 35, 35, 0.616), rgba(102, 96, 96, 0.452), rgba(255, 255, 255, 0));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
}

@media screen and (max-width: 650px) {
    .profile {
        display: flex;
        width: 580px;
    }
    .menu-option {
        display: flex;
    }
}


/*Dashboard Styled*/

.data-table-container {
    padding: 10px;
}

.max-container-charts {
    border-bottom: 2px solid var(--dark-seco);
    align-items: center;
    padding: 10px;
    display: block;
}

.container-chart {
    color: var(--white-seco);
    border-radius: 12px;
    background: #2a323a;
    height: 360px;
    width: 100%;
}

.chart-box {
    padding: 20px;
}

.container-chart h5 {
    font-size: 26px;
    font-weight: 500;
    margin: 0;
}

@media screen and (max-width: 450px) {
    .chart-box {
        align-items: center;
        justify-content: center;
    }
    .container-chart {
        height: 400px;
        overflow-x: scroll;
    }
}