.navbar {
    background-color: #281350;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

.navbar-logo {
    width: 250px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}