.navbar {
    background: linear-gradient(117deg, rgb(15, 22, 26) 20%, rgb(20, 34, 41) 55%, rgb(11, 26, 34) 95%);
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

.navbar-logo {
    width: 250px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}