.quest-card-image {
    height: 200px;
    width: 200px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    border: 15px solid #05395e;
    background: rgb(241, 237, 237);
}

.card-bottom-container {
    width: 200px;
    background-color: #05395e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;
    text-decoration-color: transparent;
    margin-bottom: 5px;
}

.card-bottom-container h3 {
    text-decoration: underline;
    text-decoration-color: #05395e;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    min-height: 40px;
    color: #fff;
}

.card-bottom-container h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
}

.card-bottom-container hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--tert);
    border: 0;
    opacity: 1;
}

.card-info {
    width: 100%;
    padding: 20px 20px 20px 20px;
    line-height: 20px;
}

.card-info li a {
    text-decoration: none;
    color: #fff;
}

.card-info nav {
    width: 100%;
    margin: 8px auto;
    background-color: var(--deca);
    border-radius: 10px;
}

.card-info span {
    padding: 10px;
    border: 1px solid var(--tert);
    background: var(--deca);
    color: var(--sena);
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
    display: block;
}

.card-info span::after {
    float: right;
    right: 10%;
    content: "+";
}

.slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: start;
    transition: height .4 ease;
}

.slide li {
    padding: 14px;
    align-items: center;
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 300px;
}