.quest-card-image {
    height: 200px;
    width: 200px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    border: 15px solid #05395e;
    background: rgb(241, 237, 237);
}

.card-bottom-container {
    width: 200px;
    background-color: #05395e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;
    text-decoration-color: transparent;
    margin-bottom: 5px;
}

.card-bottom-container h3 {
    text-decoration: underline;
    text-decoration-color: #05395e;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    min-height: 40px;
    color: #fff;
}

.card-bottom-container h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
}

.card-bottom-container hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--tert);
    border: 0;
    opacity: 1;
}

.container-menu-options {
    height: 300px;
    width: 100%;
    color: rgb(162, 151, 173);
    overflow-x: scroll;
    display: grid;
}

.menu-item {
    width: 250px;
    background-color: rgb(162, 151, 173);
    padding: 6px;
}