:root {
    --primary: rgba(80, 38, 185, 1);
}

.container {
    background-color: #212529;
    color: #fff;
    max-inline-size: 100%;
    margin: 0;
}

.container-text {
    background-color: #212529;
    color: #fff;
    max-inline-size: 100%;
    margin-bottom: 40px;
    margin-left: 20px;
}

.home {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.gerencg-btn {
    padding: 15px 45px;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background-color: rgb(69, 33, 160);
    text-decoration-color: transparent;
    margin-left: 90px;
}

.gerencg-btn:hover {
    padding: 16px 46px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: rgb(192, 187, 204);
    border-radius: 4px;
    border: 3px solid rgba(80, 38, 185, 1);
    font-size: 21px;
}

.gerencg-hr {
    margin-bottom: 1px;
    margin-top: 50px;
}