:root{
--color-primary: #0f3535;
}

.container {
    height: 1500px;
    width: 1500px;
    background-color: #fff;
    color: #00020D; 
    max-width:fit-content;
    margin-bottom: 40px;
    margin-top: 20px;
}

.home {
    background-image: url('assets/img/categ.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.gerencg-btn {
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--color-primary);
    margin-bottom: 30px;
}

.gerencg-btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color:#00020D;
    border-radius: 5px;
    border: 2.5px solid var(--color-primary);
}