.container {
    background-color: var(--quat);
    color: var(--seco);
    max-inline-size: 100%;
    margin: 0;
}

.container hr {
    color: var(--prim);
}

.container-menu {
    margin: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    min-height: 370px;
    padding: 20px;
}

.menu-item {
    padding: 12px;
    width: 210px;
    justify-self: center;
    align-content: center;
    text-align: center;
}

.item-card-image {
    padding: 20px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    border: 10px solid var(--tert);
    background: rgb(138, 136, 136);
}

.item-card-image:hover {
    padding: 22px;
    border: 15px solid var(--tert);
    background: rgb(170, 168, 168);
    transition: all 0.3s ease-out;
}

.item-card-bottom-container {
    width: 100%;
    background-color: var(--tert);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    text-decoration-color: transparent;
    margin-bottom: 5px;
}

.item-card-bottom-container:hover {
    background: var(--tert);
    transition: all 0.3s ease-out;
}

.item-card-bottom-container h3 {
    text-decoration: underline;
    text-decoration-color: var(--tert);
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    min-height: 60px;
    color: #fff;
}

@media screen and (max-width: 450px) {
    .container {
        width: 100%;
    }
}