.footer-color {
    background-color: #0d0e2b;
    color: #fff;
}

.footer-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin: 10px;
}