.max-container-charts {
    border-bottom: 2px solid var(--seco);
    align-items: center;
    padding: 10px;
    display: grid;
}

.container-chart {
    color: var(--quin);
    border-radius: 12px;
    background: #2a323a;
    height: 360px;
}

.chart-box {
    padding: 20px;
}

.container-chart h5 {
    font-size: 26px;
    font-weight: 500;
    margin: 0;
}