.pagination-max-container {
    display: grid;
    background-color: var(--quin);
}

.header-container {
    padding: 12px;
    border-bottom: 2px solid #ccc;
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 70px;
    margin-bottom: 10px;
    background-color: var(--quat);
}

.pagination-container-menu {
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 30px;
    height: 90px;
    background-color: var(--quat);
}

.option-item {
    width: 250px;
    padding: 20px;
    border: 1px;
}

.gerencg-btn-sec-container {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gerencg-btn-sec {
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    color: var(--quin);
    cursor: pointer;
    background-color: var(--sena);
}

.gerencg-btn-sec:hover {
    transition: all 0.7 s ease-out;
    border-radius: 5px;
    background-color: rgb(10, 131, 161);
}

.gerencg-btn-sec h3 {
    text-align: center;
    font-size: 22px
}

@media screen and (max-width: 450px) {
    .pagination-max-container {
        width: 380px;
    }
}