.pagination-max-container {
    display: grid;
    background-color: var(--quin);
    width: 400px;
}

.pagination-container-menu {
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 30px;
    height: 90px;
    background-color: var(--quat);
}

.pagination-box {
    width: 400px;
    max-height: 200px;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 2px solid #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h2 gerencg-btn-sec-container" "search-container search-container";
    grid-gap: 0.2rem;
    max-height: 70px;
    background-color: var(--quat);
}

.header-container h2 {
    grid-area: "h2";
    text-align: start;
    display: flex;
    height: 40px;
    font-size: 30px;
    margin-bottom: 80px;
}

.search-container {
    grid-area: "search-container";
    height: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 80px;
}

.search-container button {
    border: 1px solid var(--prim);
    margin-bottom: 19px;
    margin-left: 8px;
    display: inline;
}

.option-item {
    padding: 10px;
    height: 100%;
}

.gerencg-btn-sec-container {
    grid-area: "gerencg-btn-sec-container";
    text-decoration: none;
    text-align: center;
    margin-bottom: 80px;
}

.gerencg-btn-sec {
    padding: 6px;
    border-radius: 7px;
    color: var(--quin);
    cursor: pointer;
    border: 4px solid transparent;
    background: var(--sena);
    transition: all 0.4s ease-out;
}

.gerencg-btn-sec:hover {
    border-radius: 13px;
    border: 4px solid var(--sena);
    color: rgb(3, 58, 80);
    background: transparent;
}

.gerencg-btn-sec h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width: 650px) {
    .pagination-max-container {
        width: 100%;
    }
    .header-container {
        height: 180px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "h2" "search-container";
    }
    .header-container h2 {
        text-align: start;
        display: flex;
        height: 40px;
        font-size: 22px;
    }
    .gerencg-btn-sec-container {
        display: none;
    }
}