.navbar {
    background: var(--seco);
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

.navbar-logo {
    width: 250px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

@media screen and (max-width: 450px) {
    .navbar {
        width: 100%;
    }
}