.max-sidebar-container {
    align-items: flex-start;
    display: grid;
    height: 100%;
    min-width: 430px;
    background-color: var(--dark-tert);
    align-content: space-between;
}

.sidebar-container {
    text-align: center;
    color: var(--white-prim);
}

.sidebar-item-container {
    display: flex;
    text-align: center;
    border-left: 6px solid var(--blue-prim);
    height: 90px;
    padding: 30px;
    background-color: rgba(85, 85, 85, 0.521);
    margin: 6px;
    text-decoration: none;
}

.sidebar-item-container:hover {
    border-left: 6px solid var(--blue-seco);
    background-color: rgba(97, 96, 96, 0.603);
}

.sidebar-icon-container {
    align-self: center;
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 50px;
    color: var(--white-prim);
}

.sidebar-item-container h1 {
    justify-content: center;
    width: 100%;
    display: flex;
    font-size: 28px;
    font-weight: 700;
}

.sidebar-item-container h3 {
    justify-content: center;
    display: flex;
    padding: 5px;
    font-size: 19px;
    text-align: center;
    color: var(--white-prim);
}

.sidebar-image-container {
    max-height: 300px;
    display: flex;
    margin: 0;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.sidebar-card-image {
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.sidebar-card-bottom {
    text-align: center;
    font-weight: 800;
    color: var(--white-prim);
    padding: 10px;
    margin-top: 40px;
}

.pagination-container-menu {
    background-color: transparent;
}

@media screen and (max-width: 650px) {
    .max-container-column {
        width: 100%;
    }
}

.menu-bar-container {
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.menu-bar-option {
    display: flexbox;
    min-height: 100px;
    width: 124px;
    background: transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in;
    border: solid transparent;
}

.menu-bar-option:hover {
    border: solid var(--blue-prim);
}

.option-card-img {
    padding: 20px;
    width: 74px;
    height: 74px;
}

.max-bar-container {
    margin-top: 8px;
}

.bar-container {
    font-size: large;
    padding: 10px;
    margin-bottom: 10px;
}

.bar-item {
    align-items: center;
    margin-bottom: 4px;
    padding: 4px;
}

.bar-item-content {
    padding: 24px 8px;
    height: 80px;
    width: 100%;
    font-size: 20px;
    transition: all 0.2s ease-in;
    color: var(--dark-seco);
    border: 1px solid var(--dark-prim);
    border-radius: 8px;
}

.bar-item-border {
    border: 1px solid;
    border-radius: 8px;
    padding: 0;
}

@media screen and (max-width: 550px) {
    .menu-profile-container {
        margin: 0;
    }
    .menu-option-card {
        height: 60px;
        width: 80px;
    }
    .bar-item-content {
        font-size: 18px;
    }
}