@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,300;0,500;1,100&family=Nanum+Gothic&family=Nunito:wght@300&display=swap');
:root {
    --prim: rgb(73, 73, 73);
    --seco: #1b1a1a;
    --tert: #1c2022;
    --quat: #e0e0e9;
    --quin: #fcf6f6;
    --sena: rgb(8, 108, 133);
    --sept: rgb(8, 133, 116);
    --octa: rgb(141, 3, 26);
    --blue-prim: #1d878d;
    --blue-seco: #28c1c9;
    --blue-tert: #08565a49;
}

html,
body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    color: var(--seco);
    background-color: var(--tert);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--tert) !important;
}