@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,300;0,500;1,100&family=Nanum+Gothic&family=Nunito:wght@300&display=swap');
#root {
    --dark-prim: rgb(73, 73, 73);
    --dark-seco: #1b1a1a;
    --dark-tert: #1c2022;
    --dark-quat: #181c1da4;
    --blue-prim: #1d878d;
    --blue-seco: #28c1c9;
    --blue-tert: #08565a49;
    --blue-quat: #085f75;
    --blue-quin: #0a7f9c;
    --green-prim: #088574;
    --green-seco: #0aa18d;
    --red-prim: #8d031a;
    --red-seco: #ac0420;
    --white-prim: #e0e0e9;
    --white-seco: #fcf8f8;
    --white-tert: #ddd2d2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

html,
body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    color: var(--dark-seco);
    background-color: var(--dark-tert);
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--dark-tert) !important;
}

.text-close {
    border: 0;
    background-color: transparent;
    color: var(--white-prim);
    font-size: large;
    transition: all 0.2s ease-in-out;
}

.text-close:hover {
    color: var(--white-seco);
    text-decoration: underline;
}


/*modal styled*/

.modal-content {
    max-height: 520px;
    border-radius: 8px;
    overflow-y: scroll;
    background-color: var(--dark-tert);
    color: var(--white-prim);
}

.modal-content::-webkit-scrollbar {
    border-radius: 0px 8px 8px 0px;
    background-color: var(--dark-tert);
    width: 10px;
    margin: 4px;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: var(--dark-prim);
    border: 1px solid var(--dark-tert);
    border-radius: 8px;
}

.modal-header span {
    color: var(--white-prim);
}

.close {
    background-color: transparent;
    border-radius: 100%;
    border: none;
    transition: all 0.2s ease-in;
    font-size: large;
}

.close:hover {
    background-color: #cccccc34;
    border-radius: 100%;
}


/*button styled*/

.btn-primary {
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 15px;
    color: var(--white-seco);
    cursor: pointer;
    background-color: var(--blue-quat);
    transition: all 0.3s ease-out;
    border: none;
}

.btn-primary:hover {
    background-color: var(--blue-quin);
    color: var(--white-tert);
}

.btn-confirm {
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 15px;
    color: var(--white-seco);
    cursor: pointer;
    background-color: var(--green-prim);
    transition: all 0.3s ease-out;
    border: none;
}

.btn-confirm:hover {
    background-color: var(--green-seco);
    color: var(--white-prim);
}

.btn-danger {
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 15px;
    color: var(--white-seco);
    cursor: pointer;
    background-color: var(--red-prim);
    transition: all 0.3s ease-out;
    border: none;
}

.btn-danger:hover {
    background-color: var(--red-seco);
    color: var(--white-prim);
}